///////////////////////////////
//////////////////////////////
// FONTS VARIABLE --->
$open: 'Open Sans',
sans-serif;
$pop:'Poppins',
sans-serif;
$roboto: 'Roboto',
sans-serif;
$miyad:'Mriyad Pro',
sans-serif;
$nonito: 'Nunito',
sans-serif;
///////////////////////////////
//////////////////////////////
// COLORS VARIABLE --->
$white: #ffffff;
$black: #000000;
//01_Home ------>
$primary_color1:#f9f9f9;
$primary_color2:#ff5e15;
$primary_color3:#0f0c0a;